<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Product</title>
</head>
<body>
    <div align="center">
        <h1>Añadir Nuevo Producto</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${product}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Nombre del producto:</td>
                    <td><input type="text" th:field="*{nombre}" /></td>
                </tr>
                <tr>
                    <td>Precio:</td>
                    <td><input type="text" th:field="*{precio}" /></td>
                </tr>
                <tr>
                    <td>Categoria:</td>
                    <td><input type="text" th:field="*{categoria}" /></td>
                </tr>
                <tr>
                    <td>Unidades:</td>
                    <td><input type="text" th:field="*{unidades}" /></td>
                </tr>   
                <tr>
                    <td>Id Proveedor:</td>
                    <td><input type="text" th:field="*{id_proveedor}" /></td>
                </tr>                           
                <tr>
                    <td colspan="2"><button type="submit">Guardar</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
